/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
}

.font-17 {
    font-size: 1.05rem;
}

/****** Header ***********/

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 79px;
}

#logo-header {
  width: 30%; 
}

#logo-header img {
    padding: 30px 50px ;
    width: 20%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.a-nav{
    height: 100%;
    display: flex;
    align-items: center;
    border-top: solid 2px rgba(0, 0, 0, 0);
    margin-top: 2px
}

.a-nav:hover{
    border-top: solid 2px var(--main-color);
    color: var(--main-color);
    margin-top: 2px;
}


/****** Info Group ***********/

#info-group {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#headline h1{
    margin-bottom: 8px;
}

#search-bar {
    display: flex;
    align-items: center;
    height: 49px;
}

#search-icon {
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px ;
    width: 50px;
    height: 100%;
}

#icon-location {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#form-search {
    border: solid 1px var(--main-bg-color);
    border-radius: 0 15px 15px 0;
}

#input-search {
    text-align: center;
    height: 100%;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
}

#btn-rechercher {
    border: solid 1px var(--main-color);
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: white ;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 15px 16px;
}

#filter-bar {
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    height: 50px;

}

#cont-filtres {
    display: flex;
    gap: 15px;
}

.filtre {
    border: solid 2px var(--main-bg-color);
    background-color: white;
    border-radius: 25px;
    padding: 4px 19px;
    cursor: pointer;
}

.filtre span {
    padding-left: 10px;
}

.filtre:hover {
    background-color: var(--filter-bg-color);
}

#info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

#div-icon-info {
    width: 24px;
    height: 24px;
    border: solid 1px var(--main-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info {
    font-size: 10px;
}

/****** Cards ***********/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.heb-layer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-card-heb {
    width: 31%;
    height: 207px;
}

.link-card-heb .card img {
    width: 100%;  
    height: 124px;
    border-radius: 20px 20px 0 0 ;
}

.heb {
    padding:0 15px;
}

.heb p {
    padding: 8px 0;
}

#afficher-plus a {
    font-weight: 700;
}

/****** Populaires ***********/
.section-title {
    margin: 0;
}

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

#activites {
    padding: 30px;
    width: auto;
}

#activ-layer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.link-card-activ {
    width: 24%;
}

.img-activites {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0 ;
}

#title-activites {
    padding: 20px 19px;
}

/****** Activités ***********/

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    background-color: var(--main-bg-color);
}

.div-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 29%;
    padding: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}